/******************************/
/*       SECTION ABOUT        */
/******************************/
.section-about {
  background-color: var(--lightest-color);
  color: var(--gray-color);

  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 8.6rem 0 7.4rem 0;
}

.about-contents {
  padding-top: 3.2rem;
}

.heading-secondary--first,
.heading-secondary--second {
  font-size: 6.2rem;
  text-transform: uppercase;
  font-weight: 800;
}

.heading-secondary--first {
  color: var(--main-color);
}

.heading-secondary--second {
  color: var(--secondary-color);
  margin-top: -2rem;
}

.about--grid {
  width: 110rem;

  display: grid;
  grid-template-columns: 60fr 40fr;
  column-gap: 3.2rem;
}

.subheading {
  display: flex;
  align-items: center;

  font-size: 2rem;

  padding: 1.6rem 0 1.6rem 2rem;
}

.subheading-dynamic {
  position: relative;
  font-weight: 600;
}

.subheading-dynamic::before {
  content: "an Engineer";
  animation: words 20s infinite;
}

.subheading-dynamic::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: var(--lightest-color);
  border-left: 2px solid var(--gray-color);
  right: -8px;
  animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid gray;
  }
}

@keyframes words {
  0%,
  20% {
    content: "a Creative";
  }
  21%,
  40% {
    content: "an Engineer";
  }
  41%,
  60% {
    content: "a Developer";
  }
  61%,
  80% {
    content: "a Designer";
  }
  81%,
  100% {
    content: "a Dreamer";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

.about-content {
  font-size: 2rem;
  padding-bottom: 1.2rem;
  padding-left: 2rem;
  line-height: 1.4;
  letter-spacing: 0.5px;
}

.about-img-box {
  align-self: center;
  justify-self: center;
}

.about-img {
  height: 350px;
}

/******************************/
/*       SECTION TOOLS        */
/******************************/
.section-tools {
  padding-top: 3.2rem;
  background-color: var(--lightest-color);
  color: var(--gray-color);

  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 6.4rem;
}

.grid-tools {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 3.2rem;
  row-gap: 1.2rem;
}

.tools-img {
  height: 12rem;
  width: 12rem;
}

/******************************/
/*    SECTION EXPERIENCES     */
/******************************/
.section-experiences {
  background-color: var(--lightest-color);
  color: var(--gray-color);

  display: flex;
  align-items: center;
  flex-direction: column;

  padding-bottom: 6.4rem;
}

.experiences {
  width: 110rem;
}

.experience-header {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

.experience {
  margin: 4.8rem;
}

.experience-header span {
  font-weight: 600;
}

.experience-content {
  font-size: 1.6rem;
  padding: 1.2rem 0 0 1.6rem;
  line-height: 1.2;
}
