/******************************/
/*       SECTION ABOUT        */
/******************************/
.section-about {
  /* padding: 6.4rem 0; */
  background-color: var(--lightest-color);
  color: var(--gray-color);
  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading-secondary--first,
.heading-secondary--second {
  font-size: 7rem;
  text-transform: uppercase;
  font-weight: 800;
}

.heading-secondary--first {
  color: var(--main-color);
}

.heading-secondary--second {
  color: var(--secondary-color);
  margin-top: -2rem;
}

.about-contents {
  width: 130rem;

  display: grid;
  grid-template-columns: 60fr 40fr;
  column-gap: 3.2rem;
}

.subheading {
  font-size: 3rem;
  padding-left: 2rem;

  display: flex;
  align-items: center;
}

.subheading-bold {
  font-weight: 600;
  line-height: 1.6;
}

.subheading-dynamic {
  margin-left: 10px;
  line-height: 90px;
  height: 90px;
  overflow: hidden;
}

.subheading-dynamic li {
  list-style: none;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}

.subheading-dynamic li {
  position: relative;
}

.subheading-dynamic li::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--lightest-color);
  border-left: 1px solid var(--gray-color);
  animation: typing 3s steps(9) infinite;
}

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.about-content {
  font-size: 2rem;
  padding-bottom: 1.2rem;
  padding-left: 2rem;
  line-height: 1.4;
  letter-spacing: 0.5px;
}

.about-img-box {
  align-self: center;
  justify-self: center;
}

.about-img {
  height: 450px;
}

/******************************/
/*       SECTION TOOLS        */
/******************************/
.section-tools {
  padding-top: 3.2rem;
  background-color: var(--lightest-color);
  color: var(--gray-color);

  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 6.4rem;
}

.grid-tools {
  display: grid;
  column-gap: 2.4rem;
  row-gap: 9.6rem;
}

.tools-img {
  height: 12rem;
  width: 12rem;
}

/******************************/
/*    SECTION EXPERIENCES     */
/******************************/
.section-experiences {
  padding-top: 3.2rem;
  background-color: var(--lightest-color);
  color: var(--gray-color);

  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 6.4rem;
}

.experiences {
  width: 130rem;
}

.experience-header {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

.experience {
  margin: 4.8rem;
}

.experience-header span {
  font-weight: 600;
}

.experience-content {
  font-size: 1.6rem;
  padding: 1.2rem 0 0 1.6rem;
  line-height: 1.2;
}
