/******************************/
/*        SECTION CONTACT     */
/******************************/
.section-contact {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact {
  width: 130rem;
}

.grid--contact {
  grid-template-columns: 45fr 55fr;
}

.contact-form {
  background-color: var(--secondary-color);
  border-radius: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0 1.8rem 1.8rem;
  gap: 0.8rem;
}

.form label {
  font-size: 1.4rem;
  font-weight: 500;
}

.contact-form input {
  height: 3rem;
}

.contact-form input,
.contact-form textarea {
  padding: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--gray-color);
}

.heading-tertiary {
  text-align: center;
  padding: 3.2rem 0;
  color: var(--lightest-color);
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-submit {
  display: inline-block;

  width: 15rem;

  background-color: var(--lightest-color);
  color: var(--gray-color);

  font-size: 2rem;
  font-weight: 500;
  padding: 0.8rem 3.2rem;
  margin-top: 1.8rem;
  border-radius: 20px;

  border: none;
  cursor: pointer;
  font-family: inherit;

  transition: all 0.3s;
}

.btn-submit:hover {
  background-color: var(--secondary-color);
  box-shadow: inset 0 0 0 3px var(--lightest-color);
  color: var(--lightest-color);
}

.contact-design {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-img {
  width: 200px;
}

.heading-secondary--first,
.heading-secondary--second {
  font-size: 6.2rem;
  text-transform: uppercase;
  font-weight: 800;
}

.heading-secondary--first {
  color: var(--main-color);
}

.heading-secondary--second {
  color: var(--secondary-color);
  margin-top: -2rem;
}

.contact-socials {
  margin: 2.4rem 0;
}

.contact-me {
  font-size: 1.8rem;
}

.social {
  text-decoration: none;
  color: var(--lightest-color);
  width: 5.2rem;
  height: 5.2rem;
  padding: 1.2rem;
}

.social:hover {
  color: var(--main-color);
}
