/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Paytone+One&display=swap");

/* Color variables */
:root {
  --main-color: #ff9b3d;
  --gray-color: #212529;
  --lightest-color: #ffebd8;

  --primary-accent-color: #db504a;
  --secondary-accent-color: #c54843;

  --primary-tint-color: #ffaf64;
  --tertiary-tint-color: #ffc38b;
}

/* Resetting CSS properties */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* font-size is done this way for ease of adjusting */
/* overflow-x hidden is for the nav menu at smaller screens */
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--gray-color);
}

/******************************/
/* GENERAL REUSABLE COMPONENTS */
/******************************/
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.heading-primary {
  font-family: "Paytone One", sans-serif;
  text-transform: uppercase;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  padding: 0.8rem 4.2rem;
  border-radius: 20px;

  border: none;
  cursor: pointer;
  font-family: inherit;

  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: var(--primary-accent-color);
  color: var(--gray-color);
}

.btn--full:hover,
.btn--full:active {
  background-color: var(--gray-color);
  box-shadow: inset 0 0 0 3px var(--primary-accent-color);
  color: var(--primary-accent-color);
}

.btn--outline:link,
.btn--outline:visited {
  background-color: var(--tertiary-tint-color);
  color: var(--gray-color);
}

.btn--outline:hover,
.btn--outline:active {
  background-color: var(--gray-color);
  box-shadow: inset 0 0 0 3px var(--tertiary-tint-color);
  color: var(--tertiary-tint-color);
}
