/******************************/
/*        SECTION HERO        */
/******************************/
.section-landing {
  padding: 4.8rem 0 9.6rem 0;
  background-color: var(--gray-color);
  height: 100vh;
}

.landing {
  /* Sets the max width */

  /* Puts padding on both left and right */
  padding: 0 3.2rem;
  /* Puts the contents in the foreground */
  z-index: 9999;
  position: absolute;
  /* Centers the landing container in the screen */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Sets the container's width and height */
  width: 100%;
  height: 100%;
}

.landing-img-box {
  align-self: center;
}

.landing-img {
  height: 35rem;
}

.landing-text-box {
  grid-column: 2 / -1;
  align-self: center;
}

.first-name {
  color: var(--main-color);
  font-size: 8.6rem;
}

.second-name {
  color: var(--secondary-accent-color);
  font-size: 6.2rem;
}

.landing-hello {
  color: var(--lightest-color);
  font-size: 4.4rem;
  font-weight: 500;
}

.landing-description {
  color: var(--lightest-color);
  font-size: 2rem;
}
