/******************************/
/*        NAVIGATION           */
/******************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding: 1.6rem 4.8rem;

  background-color: var(--gray-color);
  z-index: 9999;
}

.logo {
  height: 4.4rem;
}

.header-logo:hover .logo {
  content: url("../img/Logo1.png");
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--main-color);
  font-weight: 500;
  font-size: 1.8rem;

  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--lightest-color);
  border-bottom: 3px solid var(--lightest-color);
  margin-bottom: 10px;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 0.8rem 2.4rem;
  border-radius: 20px;
  color: var(--gray-color);
  background-color: var(--lightest-color);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--gray-color);
  box-shadow: inset 0 0 0 3px var(--lightest-color);
  color: var(--lightest-color);
  margin-bottom: 0;
  border-bottom: 0;
}

/* Mobile */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav,
.icon-mobile-nav:link,
.icon-mobile-nav:visited {
  height: 4.8rem;
  width: 4.8rem;
  color: var(--main-color);
}

.icon-mobile-nav:hover,
.icon-mobile-nav:active {
  color: var(--lightest-color);
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}
