/******************************/
/*      SECTION PROJECTS      */
/******************************/
.section-projects {
  background-color: var(--lightest-color);
  color: var(--gray-color);

  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 8.6rem 0 8.6rem 0;
}

.project-heading-tertiary {
  padding-bottom: 2.4rem;
}

.projects {
  width: 110rem;
}

.project {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.4s;
  background-color: var(--gray-color);

  text-decoration: none;
}

.project:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.project-img {
  width: 100%;
}

.project-content {
  display: grid;
  height: 50%;
  grid-template-rows: 22fr 18fr 60fr;
  padding: 2rem;
}

.project-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;

  display: inline-flex;
  flex-wrap: wrap;
}

.tag {
  display: inline-flex;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
  margin: 0.4rem 0;
  align-self: flex-start;
}

.tag--responsive {
  background-color: #22e943;
}
.tag--html {
  background-color: #e9e622;
}
.tag--css {
  background-color: #22bbe9;
}
.tag--react {
  background-color: #e922e9;
}
.tag--ecommerce {
  background-color: #e99922;
}
.tag--mongo {
  background-color: #e92222;
}
.tag--bootstrap {
  background-color: #e9225e;
}
.tag--landing {
  background-color: #e98222;
}
.tag--javascript {
  background-color: #22e92c;
}

.project-title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 2rem;
  color: var(--main-color);

  align-self: center;
}

.project-description {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
  color: var(--lightest-color);
}

/******************************/
/*  SECTION OTHER PROJECTS    */
/******************************/
.section-other-projects {
  /* padding: 6.4rem 0; */
  background-color: var(--lightest-color);
  color: var(--gray-color);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-bottom: 4.8rem;
}

.other-projects {
  width: 110rem;
  padding-bottom: 3.2rem;
}

.grid--other-projects {
  grid-template-columns: 40fr 60fr;
}

.span--2 {
  grid-column: 2 / -1;
}

.other-project-img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

  transition: all 0.4s;
}

.other-project-img:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.other-project-content-box {
  display: flex;
  align-self: center;
  flex-direction: column;
}

.other-project-title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 2rem;
}

.other-project-description {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
}
