@media (max-width: 75em) {
  /* Navigation */
  .header {
    padding: 1.8rem 4.8rem;
  }
}

/************************************/
/*         1200px - 1025px          */
/************************************/
@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  /* General */
  .grid {
    column-gap: 3.2rem;
  }

  /* Helper/ Settings Classes */
  .margin-right {
    margin-right: 1.6rem !important;
  }

  .margin-top {
    margin-top: 0 !important;
  }

  /* Navigation */
  .header {
    padding: 1.8rem 3.2rem;
  }

  /* Landing */
  .landing {
    grid-template-columns: 25fr 75fr;
    column-gap: 3.2rem;
  }

  .landing-img {
    height: 20rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    font-size: 1.8rem;
  }

  /* About */
  .about--grid {
    width: 90rem;
    grid-template-columns: 75fr 25fr;
  }

  .about-img {
    height: 250px;
  }

  .experiences {
    width: 90rem;
  }

  /* Projects */
  .project-heading-tertiary {
    padding-top: 6.4rem;
  }

  .other-project-heading-tertiary {
    padding-top: 0;
  }

  .projects {
    width: 90rem;
  }

  .project-tags {
    margin-bottom: 0.8rem;
    gap: 0.2rem;
  }

  .project-title {
    font-size: 1.6rem;
    font-weight: 500;
    padding-bottom: 1.4rem;
  }

  .project-description {
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 400;
    color: var(--lightest-color);
  }

  .other-projects {
    width: 90rem;
  }

  /* Contact */
  .contact {
    width: 90rem;
  }

  .grid--contact {
    grid-template-columns: 50fr 50fr;
  }

  .contact-heading-tertiary {
    font-size: 3.6rem;
  }

  .contact-secondary--first,
  .contact-secondary--second {
    font-size: 3.6rem;
    text-transform: uppercase;
    font-weight: 700;
  }

  .contact-secondary--second {
    margin-top: -1rem;
  }
}

/************************************/
/*         1024px - 900px          */
/************************************/
@media (max-width: 64em) {
  /* Navigation */
  .header {
    padding: 1.8rem 3.2rem;
  }

  .logo {
    height: 4rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 1.6rem;
  }

  .main-nav-link.nav-cta:link,
  .main-nav-link.nav-cta:visited7 {
    padding: 0.8rem 1.6rem;
  }

  /* Landing */
  .landing-hello {
    font-size: 2.4rem;
  }

  .first-name {
    font-size: 6.2rem;
  }

  .second-name {
    font-size: 5.2rem;
  }

  .landing-description {
    font-size: 1.6rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    font-size: 1.6rem;
    padding: 0.8rem 3.2rem;
  }

  /* About */
  .about--grid {
    width: 80rem;
    grid-template-columns: 75fr 25fr;
  }

  .heading-secondary--first,
  .heading-secondary--second {
    font-size: 5.2rem;
  }

  .heading-secondary--second {
    margin-top: -1rem;
  }

  /* Projects */
  .projects,
  .other-projects {
    width: 80rem;
  }

  .project-content {
    grid-template-rows: 20fr 20fr 60fr;
    height: 350px;
  }

  /* Contact */
  .contact {
    width: 80rem;
  }
}

/************************************/
/*         896px - 768px          */
/************************************/
@media (max-width: 56em) {
  /* General */
  html {
    font-size: 50%;
  }

  /* Navigation */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: var(--gray-color);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    opacity: 0;
    pointer-events: none;

    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  /* Landing */
  .landing {
    width: 70rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .landing-img {
    height: 250px;
    width: auto;

    padding-bottom: 3.2rem;
  }

  /* About */
  .about-img-box-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 0;
  }

  .about-img-sm {
    display: block;
    height: 150px;
  }

  .about--grid {
    width: 65rem;
    grid-template-columns: none;
  }

  .about-img {
    display: none;
  }

  .heading-secondary--first,
  .heading-secondary--second {
    text-align: center;
  }

  .subheading {
    padding: 1.6rem 0 2.4rem 0;
  }

  .about-content {
    padding-left: 0;
  }

  .section-tools {
    padding-top: 0;
  }

  .experiences {
    width: 65rem;
  }

  .experience-header {
    font-size: 2rem;
  }

  /* Projects */
  .projects,
  .other-projects {
    width: 65rem;
  }

  .grid {
    row-gap: 6.4rem;
  }

  .grid--3-cols {
    grid-template-columns: none;
  }

  .project {
    display: grid;
    grid-template-columns: 55fr 45fr;
  }

  .project-content {
    height: auto;
  }

  .project-img {
    object-fit: cover;
    height: 300px;
  }

  .project-title {
    font-size: 2rem;
    font-weight: 600;
  }

  .grid--other-projects {
    grid-template-columns: 55fr 45fr;
  }

  /* Contact */
  .grid--contact {
    grid-template-columns: none;
  }

  .contact-form {
    justify-self: center;
    width: 50rem;
  }

  .contact-heading-tertiary {
    padding: 4.8rem;
    font-size: 5.2rem;
  }

  .form {
    padding: 0 4.8rem;
  }

  .btn-container {
    padding: 3.2rem 0;
  }

  .contact-design {
    align-items: center;
  }

  .contact-secondary--first,
  .contact-secondary--second {
    font-size: 5.2rem;
  }

  .contact-me {
    text-align: center;
  }
}

/************************************/
/*         768px - 426px          */
/************************************/
@media (max-width: 38em) {
  /* Landing */
  .landing {
    width: 40rem;
  }

  .landing-img {
    height: 150px;
  }

  .first-name {
    font-size: 4.4rem;
  }

  .second-name {
    font-size: 3rem;
    padding-top: 0.5rem;
  }

  #typed-text-index {
    display: none;
  }

  /* About */
  .about--grid {
    width: 40rem;
  }

  .heading-secondary--first,
  .heading-secondary--second {
    font-size: 3.6rem;
  }

  .subheading {
    font-size: 2.4rem;
  }

  .heading-tertiary {
    font-size: 3.6rem;
  }

  .grid-tools {
    grid-template-columns: repeat(3, 1fr);
  }

  .experiences {
    width: 40rem;
  }

  .experience {
    margin: 4.8rem 2.4rem;
  }

  /* Projects */
}
